<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home ejs</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>username</th>
                <th>password_hashsync</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>user</td>
                <td>pass</td>
            </tr>
        </tbody>
    </table>
    <div> <a href="/logout"><button type="submit">logout</button></a></div>
</body>
</html>
