<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="../dist/output.css">
</head>
<body >
    <div class="w-full h-screen border-solid border-green-600 border-2 bg-emerald-500 flex flex-col items-center justify-center">
        <header class= "  border-brightRed border-solid border-2  m-auto h-2/3  sm:w-full md:w-2/3 xl:w-2/6  bg-teal-200 flex flex-col items-center justify-center" >
            <form  method="post" action="/login" enctype="application/x-www-form-urlencoded" class=" flex justify-evenly items-center flex-col bg-yellow-500 space-y-2.5 sm:max-md:w-full">
                <div class="m-2/3 font-black text-lg"> Login</div>
                <div class="border-2 border-black border-solid w-fit sm:max-md:flex sm:max-md:flex-col sm:max-md:items-center">
                    <label for="username">username :</label>
                    <input type="text" name="username" id="username" class="w-auto sm:max-md:w-full">
                </div>
                <div class="border-2 border-black border-solid w-fit sm:max-md:flex sm:max-md:flex-col sm:max-md:items-center">
                    <label for="username">password :</label>
                    <input type="text" name="password" id="password" class="w-auto  sm:max-md:w-full">
                </div>
                <button type="submit" class="w-20 ring-neutral-800 ring-2 ">Submit</button>
            </form>
        </header>
    </div>
</body>
</html>