<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="flex items-center bg-black w-full border-2 border-solid border-lime-600"> hello brother</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
